@tailwind components;
@tailwind utilities;

:root {
    margin: 0;
    padding: 0;
    background-color: #504099;
}


.skills {
    background-color: #EA1179;
}

.link {
    text-decoration: none;
    color: white;
}

.fullstack {
    color: #FE7BE5;
}

.fullstack:hover {
    color: #EA1179;
}
